<%- include('../includes/head') %>

<section class="mx-auto">
  <a href="/">Go back Login</a>
  <h1 class="title">Reset password</h1>
  <% if(errorMsg.length){ %>
  <p class="msg-box"><%= errorMsg %></p>
  <% } %>
  <form action="/reset" method="post">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div>
      <label for="email">Enter email</label>
      <input type="email" id="email" name="email" />
    </div>

    <button>Reset Password</button>
  </form>
</section>

<%- include("../includes/foot") %>
